body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1, h2, h3, h4 {
    color: #333;
}

.info, .tpv-fields, .resumo {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    width: 100%;
}

.tpv-fields {
    display: flex;
    justify-content: space-between;
}

.left-fields, .right-fields {
    width: 48%;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

#result {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

.resumo {
    position: relative;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 97%;
    color: white;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7); /* Fundo claro para destacar o texto */
}

.resumo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://raw.githubusercontent.com/dadosbep2/dadosbep2.github.io/refs/heads/main/LOGO%20BEP.png');
    background-size: contain; /* Ajusta a imagem para caber no contêiner sem cortar */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15; /* Mais transparente para não atrapalhar o texto */
    z-index: -1;
}

.resumo h3, .resumo h4, .resumo p, .resumo label {
    padding: 5px;
    border-radius: 4px;
    color: #333;
}

.exclusivo-mensagem {
    font-size: 12px;
    color: #444;
    text-align: center;
    font-style: italic;
    line-height: 1.4;
    margin-top: 20px;
}

.exclusivo-mensagem strong {
    color: #D9534F;
    font-size: 13px;
}
